body {
    font-family: 'Montserrat', sans-serif;
    background: #000 url('../static/assets/ui/QuizBackground.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

#swquiz-app{
    min-width: 100vw;
    min-height: 100vh;
}