.main-header__wrapper{
    min-height: 352px;
}

.main-question__wrapper{
    display: flex;
    min-height: 100px;
    width: 100%;
}

.question-image__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
}

.questio-image__image{
    height: calc(21.4vw * 1.32);
    width: 21.4vw;
    min-width: 200px;
    min-height: calc(200px * 1.32);
    background-color: #fff;
    background: url("../static/assets/img/modes/people/4.jpg") no-repeat 0px/cover;
    border-radius: 16px;
}

.question-content__wrapper{
    flex-basis: 70%;
    margin: 0 5%;
}

.question-content--header{
    width: 100%;
    background-color: #fff;
    min-height: 100px;
    margin-bottom: 20px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-content--header-question{
    font-size: 42px;
    font-weight: bold;
}

.question-content--variants{
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-template-rows: calc(50% - 10px) calc(50% - 10px);
}
.question-content--item{
    background-color: #fff;
    min-height: 100px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-content--item{
    font-size: 42px;
    color: #000;
}