
@media (max-width: 768px) {

}
.flex-container{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    height: 25em;
    padding: 0 3rem;

}
.flex-item-ranking{
    display: flex;
    width: 60%;
    align-content: space-around;
    flex-wrap: wrap;
}

.swquiz-mode-title, .swquiz-mode-content{

    list-style-type: none;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0,0,0,.25), 4px 4px 40px rgba(255,0,0,.9);
    border-radius: 23px;
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-weight: 700;
}
.swquiz-mode-title{
    text-transform: uppercase;
}
.swquiz-mode-content{
    display: inline;
    align-items: stretch;
    height: 10em;
}
.swquiz-mode-content h2, p{
    text-align: center;
}
.swquiz-mode-content table{
    table-layout: fixed;
    width: 100%;
}
.swquiz-mode-content tr{
    text-align: center;
}
.swquiz-mode-content p{
    justify-items: left;
}
.sw-quiz-mode-buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.sw-quiz-mode-button-play, .sw-quiz-mode-button-rules{

    box-shadow: 0 4px 4px rgba(0,0,0,.25), 4px 4px 40px rgba(255,0,0,.9);
    border-radius: 23px;
    height: 3em;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
}

.sw-quiz-mode-button-play:hover, .sw-quiz-mode-button-rules:hover{
    color: white;
    text-shadow:
            0 0 5px rgba(255,0,0,.9),
            0 0 10px rgba(255,0,0,.9),
            0 0 20px rgba(255,0,0,.9),
            0 0 40px rgba(255,0,0,.9),
            0 0 80px rgba(255,0,0,.9),
            0 0 90px rgba(255,0,0,.9),
            0 0 100px rgba(255,0,0,.9),
            0 0 150px rgba(255,0,0,.9);
}